@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Questrial&family=Sawarabi+Mincho&family=Sulphur+Point:wght@300;400;700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Questrial&family=Quicksand:wght@300..700&family=Sawarabi+Mincho&family=Sulphur+Point:wght@300;400;700&family=VT323&display=swap');

@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/Minecraft\ Seven_2.ttf') format("truetype");
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Quicksand";
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Barra de navegação */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
    padding: 15px;
    transition: all .4s;
}

.scrolled {
    background: rgb(100, 135, 189);
}

.logo {
    max-width: 70px;
    cursor: pointer;
}

.logo img {
    width: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links li {
    list-style-type: none;
    transition: all .3s ease;
    border-radius: 5px;
}

.nav-links li:hover {
    background: rgb(19,88,122);
}

.links {
    gap: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 15px;
}

.menu-icon {
    display: none;
}

.menu-icon i{
    color: white;
    font-size: 30px;
}

.nav-menu {
    position: fixed;
    top: 0;
    left: calc(0px - 100vw);
    max-width: 768px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, #37325e, #0b0a12);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    transition: all .6s ease;
}

.menu-close {
    width: 100%;
    text-align: end;
    color: white;
    font-size: 1.5rem;
    padding: 15px;
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-pfp {
    max-width: 200px;
}

.menu-img {
    width: 100%;
    border-radius: 200px;
}

.menu-name {
    text-align: center;
}

.menu-name a {
    text-decoration: none;
    color:white;
    font-weight: 800;
    font-size: clamp(20px, 10vw, 50px);
}

.menu-contacts {
    position: absolute; 
    bottom: 15px; 
    left: 0; 
    z-index: 10;
    max-width: 680px;
    width: 100%;
    text-align: center;
}

.menu-contacts-links {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.menu-contacts-links a {
    color: white;
    font-size: 25px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .menu-icon {
        display: block;
    }
}

/* Banner */

.banner {
    background-image: linear-gradient(180deg, rgb(108, 221, 230), rgb(100, 135, 189));
    height: 100vh;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin: 0 30px;
}

.title-text {
    font-size: clamp(20px, 2vw, 50px);
}

.title {
    font-size: clamp(15px, 14vw, 80px);
    margin: 5px 0;
    font-weight: 900;
}

.title-links {
    display: flex;
    gap: 12px;
    font-size: clamp(20px, 2vw, 50px);
}

.title-links a i{
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: all .3s ease;
}

.title-links a i:hover {
    color: rgb(0, 13, 42);
}

.btn-contact {
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    background: rgb(0, 13, 42);
    color: white;
    transition: all .3s ease;
    margin: 10px;
    font-weight: 600;
}

.btn-contact:hover{
    background: rgb(19,88,122);
}

.banner-img {
    max-width: 450px;
}

@keyframes banner-animation {
    0%, 100% {
        transform: translateY(15px);
    }
    50% {
        transform: translateY(-15px);
    }
}

@keyframes cloud-animation {
    0%, 100% {
        transform: translateX(15px);
    }
    50% {
        transform: translateX(-15px);
    }
}

.vgod {
    width: 100%;
    animation: banner-animation 6s infinite;
    cursor: pointer;
}

.cloud {
    width: 15%;
    animation: cloud-animation 7.5s infinite linear;
}

#clouddiv1 {
    width: 100%;
    display: flex; 
    justify-content: flex-start;
}

#clouddiv2 {
    width: 100%;
    display: flex; 
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 30px;
        padding-top: 104px;
        padding-bottom: 40px;
    }
    .title-links {
        justify-content: center;
    }
    .banner-img {
        max-width: 240px;
    }
}

/* Sobre mim */

.sobremim {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    min-height: 100vh;
    color: white;
    background: rgb(100, 135, 189);
}

.sobremim-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 850px;
}

.sobremim-img {
    max-width: 330px;
    cursor: pointer;
}

.ivo {
    width: 100%;
    object-fit: cover;
    max-height: 450px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.sobremim-text {
    max-width: 50%;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    text-align: justify;
}

.texto {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mario {
    min-width: 40px;
    max-width: 12%;
    cursor: pointer;
}

.mario-jumping {
    content: url("../images/mario-jump.png");
    animation: mario-jump linear .525s;
}

@keyframes mario-jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

.habilidades {
    color: white;
    padding: 15px;
    border-radius: 10px;
    background: rgb(30,39,46);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 2s ease;
}

.habilidades:hover {
    background-image: linear-gradient(180deg, rgb(30,39,46), rgb(10, 43, 56));
}

.habilidades i {
    font-size: 30px;
}

.tecnologias {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.icon {
    transition: all .2s ease;
}

.icon:hover {
    transform: scale(1.2);
}

@media (max-width: 879px) {
    .sobremim-container {
        justify-content: center;
        padding-top: 104px;
        padding-bottom: 30px;
    }
    .sobremim-text {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 450px;
        gap: 20px;
    }
    .sobremim-text h2 {
        font-size: clamp(20px, 2vw, 50px);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .habilidades {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .sobremim-img {
        max-width: 240px;
    }
}

@media (max-width: 819px) {
    .tecnologias {
        display: none;
    }
}

/* Habilidades */

.kirby-div {
    max-width: 160px;
}

.kirby {
    width: 100%;
}

.skills {
    background-color: rgb(100, 135, 189);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-container {
    text-align: center;
    max-width: 820px;
    width: 100%;
}

.skills-title {
    margin-bottom: 45px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.skills-title h1 {
    font-size: 2.3rem;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skill-box {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 30px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 30px;
}

.skill-box i {
    font-size: 30px;
    align-self: center;
    justify-self: center;
}

progress {
    appearance: none;
    align-self: center;
    justify-self: center;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.skill-box .colored {
    background: rgb(0, 8, 24);
    border-radius: 4px;
    padding: 10px
}

@media (max-width: 890px) {
    .skills-container {
        padding-top: 100px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .skill-box {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 425px) {
    .skill-box {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

/* Meus Projetos */

.projetos-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.projetos-title {
    display: flex;
    align-items: center;
}

.scott {
    max-width: 170px;
}

.scott img {
    width: 100%;
}

.scott img:hover {
    content: url("../images/scott2.gif");
}

.projetos-title h1 {
    font-size: 2.3rem;
}

.projetos-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 45px;
    max-width: 1024px;
}

.card-container{
    width: 194px;
    height: 284px;
    -webkit-perspective: 1500;
    perspective: 1500;
}

.card-container:hover .card{
transform: rotateY(180deg);
}

.card, .front, .back{
width: 100%;
height: 100%;
border-radius: 5px;
}

.card{
position: relative;
-webkit-transition: transform 1.5s;
-webkit-transform-style: preserve-3d;
}

.front, .back{
position: absolute;
top: 0;
left: 0;
-webkit-backface-visibility: hidden;
}

.front{
z-index: 2;
overflow: hidden;
}

.back{
-webkit-transform: rotateY(180deg);
padding: 15px;
display: flex;
align-items: center;
justify-content: center;
}

.back h1 {
    text-align: center;
}

.back a {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cards-lang {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cards-lang div {
    width: 50px;
}

#react, #tailwind, #firebase {
    width: 50px
}

#sis-solar {
    background-image: url("../images/espaco.jpg");
}

#galeria {
    background-image: url("../images/kurapika.jpg");
}

#java {
    background-color: rgb(30 41 59);
}

#lupaspace {
    background-color: rgb(20 83 45);
}

@media (max-width: 879px) {
    .projetos-container {
        justify-content: center;
        padding-top: 104px;
        padding-bottom: 30px;
        margin-left: 8px;
        margin-right: 8px;
    }
}

/* Footer */

.footer {
    /* background-image: linear-gradient(180deg, rgb(100, 135, 189), #1e2838); */
    background-color: rgb(100, 135, 189);
}

.top {
    position: relative;
    height: 84px;
}

.quote{
    max-width: 75px;
    position: absolute;
    animation: quote-walking 3.7s infinite linear;
}

@keyframes quote-walking {
    0% {
        left: 0;
        transform: scaleX(1);
    }
    20% {
        left: 75px;
        transform: scaleX(1);
    }
    30% {
        left: 75px;
        transform: scaleX(1);
    }
    44% {
        left: 75px;
        transform: scaleX(-1);
    }
    55% {
        left: 75px;
        transform: scaleX(-1);
    }
    69% {
        left: 0;
        transform: scaleX(-1);
    }
    77% {
        left: 0;
        transform: scaleX(-1);
    }
    87% {
        left: 0;
        transform: scaleX(-1);
    }
    100% {
        left: 0;
        transform: scaleX(1);
    }
}

.finn-jake {
    max-width: 130px;
    position: absolute;
    right: 15px;
    top: -14px;
}

.quote img, .finn-jake img {
    width: 100%;
}

.grass, .dirt {
    height: 64px;
    
}

.grass {
    background-image: url('../images/grass.jpg');
    background-size: contain;
    background-repeat: repeat-x;
}

.dirt {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/dirt.png');
    background-size: 64px 64px;
    background-repeat: repeat;
    height: 300px;
    display: flex;
    justify-content: space-around;
    padding: 45px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.delta {
    position: relative;
    max-width: 200px;
}

.twiki, .cd {
    width: 100%;
}

.twiki {
    position: sticky;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 10;
}

.cd {
    position:absolute;
    left: 50%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;

}

.contact ul, .contact div {
    width: 100%;
    text-align: center;
}

.footer-icons-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    font-size: 35px;
}

.text-footer {
    font-family: 'Minecraft';
    font-size: clamp(15px, 1vw, 30px);
}

@media (max-width: 1024px) {
    #d2lta {
        display: none;
    }
}

@media (max-width: 768px) {
    .finn-jake {
        display: none;
    }
    .dirt {
        padding: 15px;
    }
    .text-footer {
        font-size: clamp(12px, .7vw, 20px);
    }
}