@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Questrial&family=Sawarabi+Mincho&family=Sulphur+Point:wght@300;400;700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Questrial&family=Quicksand:wght@300..700&family=Sawarabi+Mincho&family=Sulphur+Point:wght@300;400;700&family=VT323&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Quicksand";
}

/* Barra de navegação */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 1000000;
    padding: 15px;
}

.logo {
    max-width: 70px;
    cursor: pointer;
}

.logo img {
    width: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links li {
    list-style-type: none;
    transition: all .3s ease;
    border-radius: 5px;
}

.nav-links li:hover {
    background: rgb(19,88,122);
}

.links {
    gap: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 15px;
}

.btn-navbar {
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    background: rgb(0, 13, 42);
    color: white;
    transition: all .3s ease;
}

.btn-navbar:hover{
    background: rgb(19,88,122);
}

.menu-icon {
    display: none;
}

.menu-icon i{
    color: white;
    font-size: 30px;
}

@media (max-width: 768px) {
    .navbar {
        padding: 2px 10px;
    }
    .btn-navbar{
        display: none;
    }
    .nav-links{
        position: absolute;
        top: 88px;
        left: 0;
        right: 0;
        flex-direction: column;
        padding-bottom: 7px;
        overflow: hidden;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 15px;
    }
    #menuList{
        transition: all .7s;
    }
}

/* Banner */

.banner {
    background-image: linear-gradient(180deg, rgb(108, 221, 230), rgb(100, 135, 189));
    height: 100vh;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin: 0 30px;
    
}

.title-text {
    font-size: clamp(20px, 2vw, 50px);
}

.title {
    font-size: clamp(20px, 14vw, 80px);
    margin: 10px 0;
    font-weight: 900;
}

.title-links {
    display: flex;
    gap: 12px;
    font-size: clamp(20px, 2vw, 50px);
}

.title-links a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.banner-img {
    max-width: 450px;
    animation: banner-animation 6s infinite;
}

@keyframes banner-animation {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

.banner-img img {
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }
    .title-links {
        justify-content: center;
    }
}

/* Sobre mim */

.sobremim {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
    background: rgb(100, 135, 189);
    height: 100vh;
    color: white;
    gap: 30px;
}

.card {
    width: 250px;
    height: 356px;
    display: inline;
    position: relative;
    perspective: 1500;
    margin: 30px 0;
}

.card-front, .card-back{
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 1.3s ease;
    border-radius: 10px;
}

.card-front img, .card-back img{
    width: 100%;
    height: 100%;
}

.card-front{
    transform: rotateY(180deg);
    overflow: hidden;
}

.card-back{
    transform: rotateY(0deg);
}

.card:hover .card-front{
    transform: rotateY(0deg);
}

.card:hover .card-back{
    transform: rotateY(-180deg);
}

.sobremim-text {
    min-width: 280px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title2{
    display: none;
}

.sobremim-text h1{
    text-align:center;
}

.sobremim-text p{
    text-align:justify;
}

@media (max-width: 890px) {
    .sobremim{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }
    .sobremim-text h1{
        display: none;
    }
    .title2{
        display: flex;
        font-size: clamp(20px, 13.29vw, 80px);
        margin: 10px 0;
        font-weight: 900;
    }
    .card {
        width: 175px;
        height: 249px;
    }
}